
.fullPage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.p1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
li {
    float: center;
    padding: 20px;
    border: 10px;
    
  }
  
li a {
    display: block;
    color: black;
    margin-top: 10px;
    text-align: center;
    padding: 24px 6px;
    text-decoration: none;
    border: 2px rgb(17, 16, 16) solid;

  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(195, 220, 241);
    padding: 20px;
  }